.calc-btn {
    display: block;

    width: 220px;

    margin: 20px auto;

    padding: 14px 20px;

    border: none;

    border-radius: 30px;

    background: linear-gradient(
        135deg,
        #224ca7ec,
        #214ababc
    );

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: all 0.3s ease;

    box-shadow:
        0 4px 12px rgba(7, 10, 17, 0.512);
}

.calc-btn:hover {

    transform: translateY(-2px);

    box-shadow:
        0 8px 18px rgba(37,99,235,0.4);

}