.calculator {

    max-width: 500px;

    margin: auto;

    background: white;

    padding: 10px;

    border-radius: 15px;

    box-shadow:
    0 4px 15px rgba(0,0,0,0.1);

}

#display {

    width: 100%;

    height: 70px;

    font-size: 24px;

    text-align: right;

    padding: 15px;

    margin-bottom: 15px;

    border-radius: 10px;

    box-sizing: border-box;

}

.btn-grid {

    display: grid;
    grid-template-columns:
    repeat(8, 1fr);
    gap: 6px;
    margin-top: 15px;

}

.btn-grid button {

    padding: 12px 5px;
    font-size: 14px;
    border: 1px solid #6a5959;
    border-radius: 4px;
    cursor: pointer;
    background: #f9f9f9;
    transition: 0.1s;

}

.btn-grid button:hover {

    background: #e0e0e0;

}

.func-btn {
    background: #2f5a93;
    color: white;
    font-size: 12px;
}
.equal-btn {

    grid-column: span 2;
    background: #ff9500;
    color: rgb(96, 75, 75);
    font-size: 18px;

}

.dark-mode .calculator {

    background: #2a2a2a;

}

.dark-mode #display {

    background: #121212;

    color: white;

    border: 1px solid #444;

}

.dark-mode .btn-grid button {

    background: #3a3a3a;

    color: white;

}
